<div class="container">
  <h1 class="text-center">{{title}}</h1>
  <div class="row">
    <!-- List of users -->
    <div class="col-6">
      <!-- <app-users-list (sendUser)="onChildChange($event)"></app-users-list> -->
    </div>
    <!-- user details -->
    <div class="col-6">
      <!-- <app-user-details></app-user-details> -->
    </div>
  </div>
  <div>
    <form class="form" #f="ngForm">
      <div class="form-group row">
        <label class="col-2 col-form-label">Value A</label>
        <div class="col-5">
          <input type="text" class="form-control" name="firstValue" ngModel />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Value B</label>
        <div class="col-5">
          <input type="text" class="form-control" />
        </div>
      </div>
      <input type="button" value="Submit" (click)="onSave(f)" class="btn btn-info" />
    </form>

    <pre>{{f.value|json}}</pre>
  </div>
</div>